interactions:
- request:
    body: '{"filters": {"since": 969062400, "state": ["OPEN"]}, "num_assets": "500"}'
    headers:
      Content-Type:
      - application/json
      X-APIKeys:
      - accessKey=TIO_ACCESS_KEY;secretKey=TIO_SECRET_KEY
    method: POST
    uri: https://cloud.tenable.com/vulns/export
  response:
    body:
      string: '{"export_uuid":"5edb7842-72ea-45ba-ba74-1c0df95f3c61"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gateway-Site-ID:
      - nginx-router-79fcd-ap-southeast-1-prod
      X-Request-Uuid:
      - a2403c410cd965d89e27493fb97094cc
    status:
      code: 200
      message: OK
version: 1
